@page "/"
@inject IServiceProvider ServiceProvider
@inject IJSRuntime JS
@using Microsoft.Extensions.Localization
@using System.Globalization
@using catch_up_mobile.SQLite
@using catch_up_mobile.Services
@inject CatchUpDbContext _dbContext
@inject IStringLocalizer<catch_up_mobile.Resources.Localization.Strings> L

<div class="container text-center">
    <h2>@L["Welcome"]</h2>
</div>

<div>
    <div class="container mt-4">
        <div class="row">
            <!-- Tasks Card -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="images/task-batman-image.jpg" class="card-img-top" alt="Tasks Image" />
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="bi bi-list-task fs-4"></i> @L["Tasks"]
                        </h5>
                        <p class="card-text">@L["TaskDesc"]</p>
                        <a class="btn btn-primary" href="tasks">@L["GoTask"]</a>
                    </div>
                </div>
            </div>

            <!-- Schoolings Card -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="images/schooling-batman-image.jpg" class="card-img-top" alt="Schoolings Image" />
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="bi bi-book fs-4"></i> @L["Schoolings"]
                        </h5>
                        <p class="card-text">@L["SchoolingsDesc"]</p>
                        <a class="btn btn-primary" href="schoolingList">@L["GoSchoolings"]</a>
                    </div>
                </div>
            </div>

            <!-- Feedbacks Card -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="images/feedback-batman-image.jpg" class="card-img-top" alt="Feedbacks Image" />
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="bi bi-pencil-square fs-4"></i> @L["Feedbacks"]
                        </h5>
                        <p class="card-text">@L["FeedbacksDesc"]</p>
                        <a class="btn btn-primary" href="feedback">@L["GoFeedbacks"]</a>
                    </div>
                </div>
            </div>

            <!-- FAQ Card -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="images/faq-batman-image.jpg" class="card-img-top" alt="FAQ Image" />
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="bi bi-question-circle fs-4"></i> @L["FAQ"]
                        </h5>
                        <p class="card-text">@L["FAQDesc"]</p>
                        <a class="btn btn-primary" href="faq">@L["GoFAQ"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private float lightLevel;
    private ILightSensorService? lightSensorService;

    protected override async Task OnInitializedAsync()
    {
        var fontSize = await _dbContext.GetFontSizeAsync();
        if (fontSize != null)
            await JS.InvokeVoidAsync("changeFontSize", fontSize.FontSize);

        if (DeviceInfo.Platform == DevicePlatform.Android)
        {
            lightSensorService = ServiceProvider.GetService<ILightSensorService>();
            if (lightSensorService != null)
            {
                lightSensorService.LightLevelChanged += OnLightLevelChanged;
                StartSensor();
            }
        }
    }

    private void StartSensor()
    {
        if (DeviceInfo.Platform == DevicePlatform.Android && lightSensorService != null)
        {
            lightSensorService.Start();
        }
    }

    private async void OnLightLevelChanged(float level)
    {
        var isAuto = await JS.InvokeAsync<string>("localStorage.getItem", "autoTheme");
        if (isAuto == "yes")
        {
            lightLevel = level;
            if (lightLevel > 150)
            {
                JS.InvokeVoidAsync("changeTheme", "catchUpDay");
            }
            else
            {
                JS.InvokeVoidAsync("changeTheme", "catchUpNight");
            }
            InvokeAsync(StateHasChanged);
        }
        
    }

    private void StopSensor()
    {
        if (DeviceInfo.Platform == DevicePlatform.Android && lightSensorService != null)
        {
            lightSensorService.Stop();
        }
    }

    public void Dispose()
    {
        if (DeviceInfo.Platform == DevicePlatform.Android && lightSensorService != null)
        {
            lightSensorService.LightLevelChanged -= OnLightLevelChanged;
        }
    }  
}